:root {
    --100: #000;
    --200: #2F4550;
    --300: #586F7C;
    --400: #B8DBD9;
    --500: #F4F4F9;
}

html {
    font-size: 125%; /*20px*/
}

body{
    display: flex;
    justify-content: center;
    background-color: var(--500)
}

.list_buttons {
    display: flex;
    padding: 0 1.05rem 0 1.05rem;
    border: var(--200) solid 4px;
    border-radius: 5rem;
}

.list_buttons input {
    font-size: 1.5rem;
    background-color: transparent;
}

.list_buttons button {
    background-color: transparent;
}

main {
    width: 600px;
}