@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');



.li_delete_button {
	margin-left: auto;
	background-image: url(../assets/x_icon.svg);
	width: 2.4rem;
	height: 2.4rem;
	min-width: 2.4rem;
	min-height: 2.4rem;

}
